<header>
  <style>
    .collapse navbar-collapse {
      position: relative;
    }

    .login-status {
      position: absolute;
      right: 15px;
    }

    button {
      cursor: pointer;
    }

    button:hover {
      border: 2px solid;
      font-weight: bold;
}

    .login-status-btn {
      background-color: transparent;
      color: rgb(53, 51, 51);
      border: 1px solid rgb(36, 35, 35);
    }

    #register-btn {
      width: 80px;
    }

    .navbar {
      background: linear-gradient(10deg, #bcffe3, #b7d3fc);
    }
    
    .nav-btn {
      background-color: transparent;
      border: none;
      color: black;
      font-weight: 250;
    }
    .nav-btn:hover {
      border: none;
      font-weight: 350;
    }
  </style>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls"><button class="nav-btn">TinyApp</button></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls"><button class="nav-btn">My URLs</button></a>
        <a class="nav-item nav-link" href="/urls/new"><button class="nav-btn">Create New URL</button></a>
        <% if (user) { %>
          <form action="/logout" method="POST" class="login-status">
            <span>Logged in as: <%= user.email %>!</span>
            <button type="submit" class="login-status-btn">Logout</button>
          </form>
        <% } else { %>
          <span class="login-status">
            <a href="/login" class="navbar-brand">
              <button type="button" class="nav-btn" id="login-btn">Login</button>
            </a>
            <a href="/register" class="navbar-brand">
              <button type="button" class="nav-btn" id="register-btn">Register</button>
            </a>
          </span>
        <% } %>
      </div>
    </div>
  </nav>
</header>